*{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    margin: 0px;
}

.frontpage{
    background-color: #1D3557;
    height: 100vh;
}

h1{
    font-size: 10vw;
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 20vh;
    padding-left: 1vh;
    padding-right: 1vh;
    color: #F1FAEE;    
}

.generator{
    font-size: 3vw;
    text-align: center;
    color: #F1FAEE;
}

.entry{
    padding: 4rem 8vw 4rem 8vw;
}

.entry:nth-child(odd){
    background: #F1FAEE;
}

.entry:nth-child(even){
    background: rgb(228, 235, 226);
}

h2{
    font-size: 2.6rem;
    color: #1D3557;
}

.timestamp{
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 1rem;
    color: #1D3557;
}

blockquote{
    font-size: 1.5rem;
    text-align: justify;
    color: #1D3557;
}

footer{
    font-size: 1.5rem;
    padding: 2rem 1rem 2rem 1rem;
    background-color: #1D3557;
    color: #F1FAEE;
    text-align: center;

}

a{
    color: #E63946;
    font-weight: bolder;
    text-decoration: none;
}
/*

*/