body{
    width:90%; 
    font-size: 100%;
    background-color: #F2E9E4; 
    margin:auto; 
    font-family: \'Helvetica Neue\', Helvetica, Arial, sans-serif;
}
.entry{
    border: 2px solid #22223B;
    border-radius: 10px;
    margin: 2px; 
    width: 48%; 
    float: left;
}

h1{
    font-size:7rem;
    text-align: center;
    margin-top: 0.2em;
    margin-bottom: 0.4em;
    margin: 1em, 0em, 1em, 0em;
    font-weight: lighter;
    color: #22223B;
}

h2{
    color: #4A4E69
}

.timestamp{
    color: #9A8C98;
}

blockquote{
    background-color: #C9ADA7; padding: 1em; margin: 0em;
    border-radius: 0px 0px 10px 10px;
    text-align: justify;
}

.footer{
    position: fixed;
    bottom: 0;
}