*{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    margin: 0px;
}

.frontpage{
    background-color: #1D3557;
    height: 100vh;
}

h1{
    font-size: 15vh;
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 30vh;
    color: #F1FAEE;
}

.generator{
    font-size: 3.5vh;
    text-align: center;
    color: #F1FAEE;
}

.entry{
    font-size: 1.5rem;
    padding: 2rem;
}

.entry:nth-child(odd){
    background: #F1FAEE;
}

.entry:nth-child(even){
    background: #A8DADC;
}

h2{
    font-size: 2.5rem;
    color: #1D3557;
}

.timestamp{
    color: #1D3557;
}

blockquote{
    text-align: justify;
    color: #1D3557;
}

footer{
    padding: 2.5rem;
    background-color: #1D3557;
    color: #F1FAEE;

}

a{
    color: #F1FAEE;
    font-weight: bold;
    text-decoration: none;
}
/*

*/